@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
.slider__container {
  @apply flex flex-col py-3;
}
.slider__header {
  @apply relative max-w-fit rounded-full bg-white px-5 py-2 tb:py-1  text-xs font-semibold text-blue-950 shadow-md tb:text-base;
}
.slider__slider {
  @apply flex h-full items-center justify-center overflow-hidden bg-white p-6 hover:cursor-pointer hover:shadow-md active:shadow-inner;
}
.slider__subtitle__style {
  @apply text-center text-xs font-semibold capitalize dt:whitespace-nowrap dt:text-sm;
}
.btn{
  @apply relative p-1.5 capitalize rounded-full overflow-hidden shadow focus:shadow-md active:shadow-inner ring-0 hover:bg-gray-100 hover:text-slate-900 hover:border-gray-100;
}

.btn__default{
  @apply px-5 bg-white  font-semibold text-blue-900;
}
.btn__primary {
  @apply px-5 bg-blue-900 ring-0 font-semibold text-slate-100;
}